.pokemon_titlename {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 15px;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  .pokemon_titlename {
    font-size: 30px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .pokemon_titlename {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .pokemon_titlename {
    font-size: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .pokemon_titlename {
    font-size: 20px;
  }
}
