.logos_rrss_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: #fff;
}

.github_logo {
  width: 110px;
  filter: contrast(0%);
  padding: 10px;
}

.linkedin_logo {
  width: 35px;
  margin-right: 14px;
  filter: contrast(0%);
  padding: 10px;
}

.netlify_logo {
  width: 110px;
  filter: grayscale(100%);
}
