.onoff_div {
  position: relative;
  height: 30px;
  bottom: 278px;
  right: 144px;
  margin: 0 160px;
}

.on_off {
  position: relative;
  bottom: 4.5px;
  font-size: 23px;
  animation: intermitente 3s ease-in-out infinite;
}

.on_title {
  position: relative;
  font-size: 10px;
  bottom: 47px;
  cursor: pointer;
}

@keyframes intermitente {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  .onoff_div {
    bottom: 421px;
    height: 50px;
    right: 221px;
    margin: 0 47.5%;
  }

  .on_off {
    font-size: 34px;
    bottom: 7px;
  }

  .on_title {
    bottom: 70px;
    font-size: 14px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .onoff_div {
    bottom: 418px;
    height: 46px;
    right: 221px;
    margin: 0 47%;
  }

  .on_off {
    font-size: 32px;
    bottom: 7px;
  }

  .on_title {
    bottom: 68px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .onoff_div {
    bottom: 377px;
    right: 200px;
    margin: 0 47%;
  }

  .on_off {
    font-size: 30px;
    bottom: 11px;
  }

  .on_title {
    bottom: 68px;
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .onoff_div {
    position: relative;
    height: 30px;
    bottom: 350px;
    right: 183.8px;
    margin: 0 45%;
  }

  .on_off {
    font-size: 30px;
    bottom: 11px;
  }

  .on_title {
    bottom: 69px;
    font-size: 14px;
  }
}
