.onoff_div {
  z-index: 1;
  position: relative;
  height: 42px;
  top: 45px;
  right: 144px;
  margin: 0 158px;
  cursor: pointer;
}

.on_off {
  position: relative;
  top: 1px;
  font-size: 23px;
  animation: intermitente 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes intermitente {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1300px) and (max-width: 3328px) {
  .onoff_div {
    height: 0px;
    width: 80px;
    right: 305px;
    margin-bottom: 40px;
    margin-left: 46.9%;
  }

  .on_off {
    font-size: 50px;
    bottom: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .onoff_div {
    height: 0px;
    width: 80px;
    right: 305px;
    margin-bottom: 40px;
    margin-left: 46.6%;
  }

  .on_off {
    font-size: 50px;
    bottom: 10px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .onoff_div {
    height: 0px;
    width: 80px;
    right: 306px;
    margin-bottom: 40px;
    margin-left: 46.4%;
  }

  .on_off {
    font-size: 50px;
    bottom: 10px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .onoff_div {
    height: 0px;
    width: 80px;
    right: 309px;
    margin-bottom: 40px;
    margin-left: 46.5%;
  }

  .on_off {
    font-size: 50px;
    bottom: 10px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .onoff_div {
    height: 65px;
    width: 73px;
    right: 291px;
    top: 69px;
    margin-left: 46.8%;
  }

  .on_off {
    font-size: 47px;
    bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .onoff_div {
    height: 65px;
    width: 73px;
    right: 293px;
    top: 69px;
    margin-left: 47%;
  }

  .on_off {
    font-size: 47px;
    bottom: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .onoff_div {
    position: relative;
    bottom: 30px;
    right: 181px;
    margin: 0 45%;
  }

  .on_off {
    font-size: 30px;
    bottom: 11px;
  }
}
