.pokemon_vs_title {
  position: absolute;
  animation: blink 1s infinite alternate, zoom 1s infinite alternate;
  margin-top: 45px;
  margin-left: 245px;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
