.ulnav {
  display: flex;
  margin-bottom: 100px;
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(202, 41, 41, 0.192);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

li {
  padding: 10px;
}

.home_btn,
.submit_btn,
.search_btn {
  width: 140px;
  height: 50px;
  cursor: pointer;
}

.search_btn {
  display: none;
  align-items: center;
}

.submit_btn {
  align-items: center;
}

.poke_input {
  width: 150px;
}

.search_btn:hover,
.home_btn:hover {
  background: linear-gradient(#f24437, #c62d1f);
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  .ulnav {
    margin-bottom: 55px;
    margin-left: 320px;
    margin-right: 320px;
  }
  .poke_input {
    margin-right: 5px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .ulnav {
    margin-bottom: 55px;
    margin-left: 190px;
    margin-right: 190px;
  }
  .poke_input {
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .ulnav {
    margin-left: 120px;
    margin-right: 120px;
  }
  .poke_input {
    margin-right: 5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .ulnav {
    margin-left: 50px;
    margin-right: 50px;
  }
  .poke_input {
    margin-right: 5px;
  }
}
