.navbar {
  z-index: 1;
  display: flex;
  position: absolute;
  margin: 168px 0 0 189px;
}

.submit_btn {
  align-items: center;
  margin-top: 6px;
}

.poke_input {
  width: 75px;
  height: 30px;
  margin-top: 6px;
}

.search_btn:hover {
  background: linear-gradient(#f24437, #c62d1f);
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  .poke_input {
    margin-right: 5px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .navbar {
    margin: 345px 0 0 380px;
  }

  .poke_input {
    width: 180px;
    height: 48px;
    margin-right: 5px;
  }

  .submit_btn {
    width: 80px;
    align-items: center;
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .navbar {
    margin: 335px 0 0 371px;
  }

  .poke_input {
    width: 180px;
    height: 40px;
    margin-right: 5px;
    font-size: 25px;
  }

  .submit_btn {
    width: 80px;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navbar {
    margin: 212px 0 0 236px;
  }

  .poke_input {
    width: 100px;
    margin-right: 5px;
  }

  .submit_btn {
    align-items: center;
  }
}
