.navbar {
  z-index: 1;
  display: flex;
  position: absolute;
  margin: 168px 0 0 189px;
}

.poke_input {
  width: 75px;
  height: 30px;
  margin-top: 6px;
  color: rgb(175, 76, 48);
}

.submit_btn {
  align-items: center;
  margin-top: 6px;
  font-size: 14px;
  cursor: pointer;
  background: linear-gradient(#c62d1f, #f24437);
  color: #fff;
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  .navbar {
    margin: 365px 0 0 400px;
  }

  .poke_input {
    width: 180px;
    height: 40px;
    margin-right: 5px;
    font-size: 25px;
  }
  .submit_btn {
    width: 80px;
    font-size: 17px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .navbar {
    margin: 335px 0 0 371px;
  }

  .poke_input {
    width: 180px;
    height: 40px;
    margin-right: 5px;
    font-size: 25px;
  }
  .submit_btn {
    width: 80px;
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .navbar {
    margin: 335px 0 0 371px;
  }

  .poke_input {
    width: 180px;
    height: 40px;
    margin-right: 5px;
    font-size: 25px;
  }
  .submit_btn {
    width: 80px;
    font-size: 17px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navbar {
    margin: 212px 0 0 236px;
  }

  .poke_input {
    width: 100px;
    margin-right: 5px;
  }
  .submit_btn {
    font-size: 15px;
  }
}
