footer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 200px;
}

.footer_title {
  font-size: 11px;
  color: rgb(164, 159, 159);
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  footer {
    margin-top: 9px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  footer {
    margin-top: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  footer {
    margin-top: 175px;
  }
}
