.pkmn_choosed {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

img[alt='pokedex_photo'] {
  width: 360px;
}

.text_info {
  font-family: monospace;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  width: 143px;
  height: 118px;
  margin: 0 0 0 192px;
}

.pokemon_titlename {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
}

.pokemon_type {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
}

.div_pkm_img {
  position: absolute;
  margin: 0 175px 25px 0;
}

.pokemon_img {
  width: 100px;
  cursor: pointer;
}

img[src='./assets/no-image-icon-4.png'] {
  width: 80px;
  margin-right: 8px;
}

.pkmn_goto_fight {
  width: 60px;
  transform: scaleX(-1);
  margin: 20px 80px 0 0;
}

.pkmn_random_tofight {
  position: absolute;
  width: 60px;
  margin: 0 130px 70px 0;
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  img[alt='pokedex_photo'] {
    width: 760px;
  }

  .text_info {
    width: 200px;
    height: 160px;
    margin: 0 0 65px 405px;
  }

  .pokemon_titlename {
    font-size: 30px;
  }

  .pokemon_type {
    font-size: 30px;
    white-space: nowrap;
  }

  .div_pkm_img {
    margin: 0 385px 60px 0;
  }

  .pokemon_img {
    width: 200px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 120px;
    margin-right: 17px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  img[alt='pokedex_photo'] {
    width: 710px;
  }

  .text_info {
    width: 200px;
    height: 160px;
    margin: 0 0 60px 380px;
  }

  .pokemon_titlename {
    font-size: 30px;
  }

  .pokemon_type {
    font-size: 30px;
    white-space: nowrap;
  }

  .div_pkm_img {
    margin: 0 340px 50px 0;
  }

  .pokemon_img {
    width: 200px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 120px;
    margin-right: 17px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  img[alt='pokedex_photo'] {
    width: 700px;
  }

  .text_info {
    width: 200px;
    height: 160px;
    margin: 0 0 66px 370px;
  }

  .pokemon_titlename {
    font-size: 30px;
  }

  .pokemon_type {
    font-size: 30px;
    white-space: nowrap;
  }

  .div_pkm_img {
    margin: 0 230px 30px 0;
  }

  .pokemon_img {
    width: 200px;
    margin-bottom: 30px;
    margin-right: 100px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 100px;
    margin-right: 9px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  img[alt='pokedex_photo'] {
    width: 450px;
  }

  .text_info {
    width: 183px;
    height: 148px;
    margin: 0 0 3px 243px;
  }

  .pokemon_titlename {
    font-size: 20px;
  }

  .pokemon_type {
    font-size: 20px;
  }

  .div_pkm_img {
    margin: 0 220px 30px 0;
  }

  .pokemon_img {
    width: 150px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 90px;
    margin-right: 5px;
    margin-bottom: 6px;
  }
}
