.pkmn_choosed {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

img[alt='pokedex_photo'] {
  width: 360px;
}

.text_info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  width: 143px;
  height: 118px;
  margin: 10px 0 1px 193px;
}

.pokemon_titlename {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
}

.pokemon_type {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
}

.div_pkm_img {
  position: absolute;
  margin: 0 170px 30px 0;
}

img[src='../../../public/no-image-icon-4.png'] {
  width: 80px;
  margin-right: 8px;
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  img[alt='pokedex_photo'] {
    width: 550px;
  }

  .text_info {
    width: 220px;
    height: 178px;
    margin: 0 0 3px 299px;
  }

  .pokemon_titlename {
    font-size: 15px;
    padding: 10px;
  }

  .pokemon_type {
    font-size: 15px;
  }

  .div_pkm_img {
    margin: 0 250px 30px 0;
  }

  .pokemon_img {
    width: 170px;
  }

  img[src='../../../public/no-image-icon-4.png'] {
    width: 120px;
    margin-right: 17px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  img[alt='pokedex_photo'] {
    width: 550px;
  }

  .text_info {
    width: 220px;
    height: 178px;
    margin: 0 0 3px 299px;
  }

  .pokemon_titlename {
    font-size: 15px;
    padding: 10px;
  }

  .pokemon_type {
    font-size: 15px;
  }

  .div_pkm_img {
    margin: 0 250px 30px 0;
  }

  .pokemon_img {
    width: 170px;
  }

  img[src='../../../public/no-image-icon-4.png'] {
    width: 120px;
    margin-right: 17px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  img[alt='pokedex_photo'] {
    width: 500px;
  }

  .text_info {
    width: 200px;
    height: 160px;
    margin: 0 0 3px 265px;
  }

  .pokemon_titlename {
    font-size: 15px;
    padding: 10px;
  }

  .pokemon_type {
    font-size: 15px;
  }

  .div_pkm_img {
    margin: 0 230px 30px 0;
  }

  .pokemon_img {
    width: 170px;
  }
  img[src='../../../public/no-image-icon-4.png'] {
    width: 100px;
    margin-right: 9px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  img[alt='pokedex_photo'] {
    width: 460px;
  }

  .text_info {
    width: 183px;
    height: 148px;
    margin: 0 0 3px 245px;
  }

  .pokemon_titlename {
    font-size: 15px;
    padding: 10px;
  }

  .pokemon_type {
    font-size: 15px;
  }

  .div_pkm_img {
    margin: 0 220px 30px 0;
  }

  .pokemon_img {
    width: 150px;
  }

  img[src='../../../public/no-image-icon-4.png'] {
    width: 90px;
    margin-right: 5px;
    margin-bottom: 6px;
  }
}
