#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

img[alt='404'] {
  width: 350px;
  margin-top: 200px;
}

.onoff_div {
  position: relative;
  height: 30px;
  bottom: 270px;
  right: 143px;
  cursor: pointer;
}

.on_title {
  position: relative;
  z-index: 2;
  font-size: 10px;
  top: 7px;
}

.on_off {
  z-index: 1;
  position: relative;
  bottom: 38px;
  font-size: 23px;
  animation: intermitente 3s ease-in-out infinite;
}

@keyframes intermitente {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  img[alt='404'] {
    width: 1200px;
    margin-top: 50px;
  }

  .onoff_div {
    bottom: 395px;
    right: 220px;
  }

  .on_title {
    font-size: 13px;
    top: 1px;
  }

  .on_off {
    bottom: 61px;
    font-size: 32px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  img[alt='404'] {
    width: 1200px;
    margin-top: 50px;
  }

  .onoff_div {
    bottom: 395px;
    right: 220px;
  }

  .on_title {
    font-size: 13px;
    top: 1px;
  }

  .on_off {
    bottom: 61px;
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  img[alt='404'] {
    width: 800px;
    margin-top: 100px;
  }

  .onoff_div {
    bottom: 362px;
    right: 200px;
  }

  .on_title {
    font-size: 13px;
    top: 1px;
  }

  .on_off {
    bottom: 61px;
    font-size: 32px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  img[alt='404'] {
    width: 700px;
    margin-top: 100px;
  }

  .onoff_div {
    position: relative;
    height: 30px;
    bottom: 337px;
    right: 184px;
  }
}
