.pkmn_choosed {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

img[alt='pokedex_photo'] {
  width: 360px;
}

img[src='./assets/no-image-icon-4.png'] {
  width: 80px;
  margin-right: 8px;
}

.pokenavigate_btns {
  display: flex;
  position: absolute;
  top: 200px;
  margin: 0 180px 0 0;
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  img[alt='pokedex_photo'] {
    width: 760px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 120px;
    margin-right: 17px;
    margin-bottom: 15px;
  }

  .pokenavigate_btns {
    top: 317px;
    margin: 0 390px 0 0;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  img[alt='pokedex_photo'] {
    width: 710px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 120px;
    margin-right: 17px;
    margin-bottom: 15px;
  }

  .pokenavigate_btns {
    top: 290px;
    margin: 0 365px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  img[alt='pokedex_photo'] {
    width: 700px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 100px;
    margin-right: 9px;
    margin-bottom: 10px;
  }

  .pokenavigate_btns {
    top: 385px;
    margin: 0 360px 0 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  img[alt='pokedex_photo'] {
    width: 450px;
  }

  img[src='./assets/no-image-icon-4.png'] {
    width: 90px;
    margin-right: 5px;
    margin-bottom: 6px;
  }

  .pokenavigate_btns {
    top: 254px;
    margin: 0 230px 0 0;
  }
}
