.your_fighter_info {
  font-family: monospace;
  display: grid;
  position: absolute;
  grid-template-columns: minmax(min-content, 195px) minmax(min-content, 160px);
  grid-template-rows: minmax(min-content, 20px) minmax(min-content, 20px);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.active_fighter_info {
  font-family: monospace;
  display: grid;
  position: absolute;
  top: 140px;
  grid-template-columns: minmax(min-content, 195px) minmax(min-content, 160px);
  grid-template-rows: minmax(min-content, 20px) minmax(min-content, 20px);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.enemy_fighter_info {
  font-family: monospace;
  display: grid;
  position: absolute;
  top: 78px;
  grid-template-columns: minmax(min-content, 195px) minmax(min-content, 160px);
  grid-template-rows: minmax(min-content, 20px);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 1024px) and (max-width: 3328px) {
  .your_fighter_info {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 200px);
  }

  .enemy_fighter_info {
    grid-template-columns: minmax(min-content, 190px) minmax(min-content, 300px);
    top: 160px;
    margin-left: 250px;
  }

  .pokemon_vs_title {
    font-size: 30px;
    margin-top: 180px;
    margin-left: 310px;
  }

  .active_fighter_info {
    top: 305px;
    margin-left: 250px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
  .your_fighter_info {
    grid-template-columns: minmax(min-content, 410px) minmax(min-content, 200px);
  }

  .enemy_fighter_info {
    grid-template-columns: minmax(min-content, 190px) minmax(min-content, 300px);
    top: 150px;
    margin-left: 210px;
  }

  .pokemon_vs_title {
    font-size: 30px;
    margin-top: 160px;
    margin-left: 310px;
  }

  .active_fighter_info {
    top: 280px;
    margin-left: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .your_fighter_info {
    grid-template-columns: minmax(min-content, 410px) minmax(min-content, 200px);
  }

  .enemy_fighter_info {
    grid-template-columns: minmax(min-content, 190px) minmax(min-content, 300px);
    top: 150px;
    margin-left: 210px;
  }

  .pokemon_vs_title {
    font-size: 30px;
    margin-top: 160px;
    margin-left: 310px;
  }

  .active_fighter_info {
    top: 280px;
    margin-left: 210px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .your_fighter_info {
    grid-template-columns: minmax(min-content, 240px) minmax(min-content, 200px);
  }

  .enemy_fighter_info {
    top: 100px;
    margin-left: 40px;
  }

  .pokemon_vs_title {
    margin-top: 90px;
    margin-left: 270px;
  }

  .active_fighter_info {
    top: 175px;
    margin-left: 40px;
  }
}
